<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="C:/Users/POLANJ04/Desktop/Master/Full Stack Course (DigitalHouse)/Code/Clase 11 - Ejercicio/public/css/styles.css"> -->

</head>
<body>

<!-- HEADER: LOGO, USUARIO Y BUSCADOR -->

    <header>
        <div class="center">
            <img class="banner" src="/public/images/logo-mercado-liebre.svg" alt="logo"> 
            <i class="fas fa-user"></i> 
                <a href="#">Usuario</a>
            <input type="text"; placeholder="Buscar productos, marca...">
                <i class="fas fa-search"></i>
        </div><br>
    </header>

<!-- ARTICLE #1: BARRA -->

    <article class="center">
        <i class="fas fa-bars barra"></i><br><br>
    </article>

    <!-- ARTICLE #2: FRASE E ÍCONO -->
    <section>
    <div class="center">
        <div class="fas fa-hand-holding-usd"></div>
        <div>Comprá en cuotas y sin tarjeta de crédito</div><br>
    </div>

<!-- ARTICLE #3: LISTAS -->

    <div class="bullets_1">
        <ul>
            <li><a href="#">Oferta</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul><br>

    </div>

    <div class="bullets_1">
        <ul>
            <li><a href="/view/register.html">Créa tu cuenta   <i class="far fa-address-card"></i></a></li>
            <li><a href="/view/login.html">Ingresá   <i class="fas fa-sign-out-alt"></i></a></li>
            <li><a href="#">Más compras   <i class="fas fa-shopping-basket"></i></a></li>
        </ul><br>
    </div>
    </section>
    
 <!-- ARTICLE #4: BANNER -->
    
    <article>
        <img class="banner" src="/public/images/img-home-banner.jpg" alt="banner">
    </article>
    
  <!-- MAIN -->

    <main class="gray_bg">
        
    <!-- <section> -->
        <h2><br>Sección: Basado en tu última visita<br><br></h2>

        <div class="box">
        
        <article class="center white_bg style_1 products">
            <img class="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <div>
                <i class="fas fa-truck green_truck"></i>
                <strong>$6.770</strong>
                <p class="center green_text">40% OFF</p>
                <strong class="center">Cafetera Moulinex</strong><br>
            </div>
        </article>
    
        <div><br></div>

        <article class="center white_bg style_1 products">
            <img class="banner" src="/public/images/img-macbook-pro-2019.jpg" alt="mac">
            <div>
                <i class="fas fa-truck green_truck"></i>
                <strong>$230.000</strong>
                <p class="center green_text">20% OFF</p>
                <strong class="center">MacBook Pro 2019</strong><br>
            </div>
        </article>

        <div><br></div>

        <article class="center white_bg style_1 products">
            <img class="banner" src="/public/images/img-samsung-galaxy-s10.jpg" alt="samsung">
            <div>
                <i class="fas fa-truck green_truck"></i>
                <strong>$70.500</strong>
                <p class="center green_text">10% OFF</p>
                <strong class="center">Samsung Galaxy S10</strong><br>
            </div>
        </article>

        <div><br></div>

        <article class="center white_bg style_1 products">
            <img class="banner" src="/public/images/img-tv-samsung-smart.jpg" alt="tv">
            <div>
                <i class="fas fa-truck green_truck"></i>    
                <strong>$23.200</strong>
                <p class="center green_text">5% OFF</p>
                <strong class="center">SmartTv Samsung 43"</strong><br>
            </div>
        </article>
        </div>
    <!-- </section> -->

    <!-- <section> -->
        <h2><br>Sección de Ofertas<br><br></h2>
        
        <div class="box">

        <article class="center white_bg style_1 products">
            <img class="banner" src="/public/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <div>
                <i class="fas fa-truck green_truck"></i>
                <strong>$6.770</strong>
                <p class="center green_text">40% OFF</p>
                <strong class="center">Cafetera Moulinex</strong><br>
            </div>
        </article>
    
        <div><br></div>

        <article class="center white_bg style_1 products">
            <img class="banner" src="/public/images/img-macbook-pro-2019.jpg" alt="mac">
            <div>
                <i class="fas fa-truck green_truck"></i>
                <strong>$230.000</strong>
                <p class="center green_text">20% OFF</p>
                <strong class="center">MacBook Pro 2019</strong><br>
            </div>
        </article>

        <div><br></div>

        <article class="center white_bg style_1 products">
            <img class="banner" src="/public/images/img-samsung-galaxy-s10.jpg" alt="samsung">
            <div>
                <i class="fas fa-truck green_truck"></i>
                <strong>$70.500</strong>
                <p class="center green_text">10% OFF</p>
                <strong class="center">Samsung Galaxy S10</strong><br>
            </div>
        </article>

        <div><br></div>

        <article class="center white_bg style_1 products">
            <img class="banner" src="/public/images/img-tv-samsung-smart.jpg" alt="tv">
            <div>
                <i class="fas fa-truck green_truck"></i>
                <strong>$23.200</strong>
                <p class="center green_text">5% OFF</p>
                <strong class="center">SmartTv Samsung 43"</strong><br>
            </div>
        </article><br>
        </div>

        <div><br></div>
        
    <!-- </section> -->
    </main>

<!-- FOOTER -->

    <footer class="footer">

        <div>
        <i class="fas fa-credit-card barra"></i><br>
        
        <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p><br>
        </div>
        
        <div>
        <i class="fas fa-gift barra"></i><br>
        <strong>Envío gratis desde $2,500</strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p><br>
        </div>
        
        <div>
        <i class="fas fa-user-shield barra"></i><br>
        <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
        </div>

        <br><br>

        <em>Copyright © 1999-2020 MercadoLiebre S.R.L.</em>

    </footer>

</body>
</html>

