<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Mercado Liebre</title>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <!-- HEADER: LOGO -->
    <header>
        <div class="center">
            <img width=450 src="C:/Users/POLANJ04/Desktop/Master/Full Stack Course (DigitalHouse)/Code/Clase 11 - Ejercicio/public/images/logo-mercado-liebre.svg" alt="logo"> 
        </div><br><br>
    </header>

    <!-- Main section -->

    <h2>Ingrese su información:</h2><br>
    
    <main>
        <form action="/" method="get">
            <input type="text" name="user" placeholder="Nombre de usuario" minlength="3">
            <input type="password" name="pass" placeholder="Elegí una contraseña">
            <input type="submit" value="Enviar"><br><br>

            <button><a href="home.html">Home</button><br><br></li>
        </form>
    </main>
    
</body>
</html>